.sidebar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(68,68,68,1) 50%, rgba(0,0,0,1) 100%);
    overflow-x: hidden;
    padding-top: 60px;
}

.container {
  padding: 0px  30px 30px;
  text-decoration: none;
  font-size: 25px;
  color: whitesmoke;
  display: block;
}

img {
    max-width: auto;
    max-height: 250px;
    border-radius: 6px;
}

hr {
    background-color: gray;
}
