.page-footer {
    position: fixed;
    left: 0;
    height: 25px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(5,5,5,1) 50%, rgba(0,0,0,1) 100%);
    color: gray;
    font-size: 5px;
}



