.page-footer {
    position: fixed;
    left: 0;
    height: 33px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: lightgray;
}

.line {
    height: 6px;
    padding-top: 3px;
    background-image: white;
}

