body {
 background-color: black;
 font-family: fantasy;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main {
  padding: 0px 10px;
  max-width: 100vw;
  margin-left: 200px;
  height: 300px;
}


